.Footer {
    height: 30px;
    background-color:#282828;
    border-top: 1px solid #111111;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Footer > span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    font-variant: small-caps;
    color: rgba(255, 255, 255, 0.6);
}