.ItemContainer .Title {
    display: flex;
    align-items: center;
}
.ItemContainer .Title-close {
    margin-bottom: 15px;
}
.Title .progress-num {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background-color: white;
    padding: 2px 5px;
    font-feature-settings: 'case' on;
    border-radius: 4px;
    margin-right: 25px;
}
.Title h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-style: normal;
    margin: 0px 15px;
}
/* Style progress bar */
progress[value] {
    height: 3px;
    width: 100%;
    background-color: transparent;
    margin: 15px 0px;
}

progress[value]::-webkit-progress-bar {
    background-color: #555;
}

progress[value]::-webkit-progress-value {
    background-color: #27dd4f;
}

.ListContent {
    margin-left: 38px;
    margin-bottom: 25px;
    display: block;
}

.expand {
    transform: rotate(0deg);
    cursor: pointer;
}
.transform {
    transition: all .5s ease;
}
.collapsed {
    transform: rotate(-90deg);
}

.CloseContent {
    display: none;
}