.TodoItem {
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;
    display: flex;
    align-items: center;
    padding: 10px;
}
.TodoItem > p {
    margin: 0 ;
    margin-left: 20px;
}
.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: .5;
}