.App {
  background-color: #1d1d1d;
}
/* Style navigation bar */



/* style TodoApp */
.TodoApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 50px 0px;
  height: 900px;
}