* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #1d1d1d;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
